@font-face {
    font-family: "Lato-Bold";
    src: url("/assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-Black";
    src: url("/assets/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("/assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("/assets/fonts/Lato-Regular.ttf");
}

body {
    width: 1020px;
    padding: 0;
    margin: 0 auto;
}

.header {
    height: 89px;
    background-color: #2d303a;
}

.wrapper {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.header .wrapper{
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 25px;
}

.logo h1 {
    font-size: 24px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato-Bold";
    font-weight: 700;
    text-align: left;
}

.logo__star {
    color: #f06c64;
}

.navigation {
    margin-top: 39px;
}

.navigation li {
    display: inline;
    padding-left: 24.5px;
    font-size: 12px;
    color: white;
    font-family: "lato-Bold";
    font-weight: bold;
    text-align: left;
}

.navigation a {
    text-decoration: none;
    color:white;
}

.navigation a:hover {
    color: #f06c64;
}

.line-header {
    height: 6px;
    background-color: #323746;
    margin: 0;
    border: 0;   
}

.slider {
    height: 594px;
    background-color: #f06c64;
}

.slider .wrapper {
    height: 594px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.phone-vertical {
    margin-top: -5px;
    margin-left: -14px;
}

.phone-horizontal {
    margin-top: -6px;
    margin-right: -16px;
}

.line-slider-block {
    height: 6px;
    background-color: #ea676b;
    margin: 0;
    border: 0;    
}

.our-services {
    height: 494px;
    background-color: #f2f2f2;
}


.our-services h1 {
    margin-top: 0;
    padding-top: 68px;
    font-size: 30px;
    font-family: "Lato-Black";
    color: #666d89;
    line-height: 18px;
}

.our-services p {
    padding-top: 2.5px;
    font-size: 17px;
    color: #767e9e;
    font-family: "Lato-Light";
    line-height: 30px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.4px;
}

.layout-3-column {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 45px;
    justify-content: space-between;
}

.service {
    width: 300px;
    height: 85px;
    display: flex;
    padding-bottom: 39px;  
}

.service_content {
    margin-left: 17px;
    margin-top: -19px;
}

.service__name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato-Black";
    font-weight: 900;
    text-align: left;
}

.our-services .service__description {
    margin-top: -11px;
    margin-left: 1.5px;
    text-align: justify;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
}

.line-our-services-block {
    height: 6px;
    background-color: #ffff;
    margin: 0;
    border: 0;
}