html,
body,
h1,
h2,
p {
     margin: 0;
    padding: 0;
}


@font-face {
    font-family: "Lato-Black";
    src: url("/assets/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("/assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("/assets/fonts/Lato-Regular.ttf");
}

body {
    width: 1020px;
    padding: 0;
    margin: 0 auto;
}

.get-a-quote {
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.wrapper {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.get-a-quote h1 {
    padding-top: 59px;
    font-family: "Lato-Black";
    font-size: 30px;
    color: #f0d8d9;
    letter-spacing: -0.25px;
}

.get-a-quote p {
    padding-top: 18px;
    font-family: "Lato-Light";
    font-size: 18px;
    color: #f0d8d9;
    line-height: 30px;
    letter-spacing: -0.04px;
}

.layout-2-column {
    display: flex;
    padding-top: 48px;
}

.contact__form {
    margin-top: -20px;
}

input {
    margin-top: 16px;
    width: 619px;
    height: 36px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px; 
}

input::placeholder {
    padding-left: 14.5px;
    font-family: "Lato-Regular";
    font-size: 12px;
    color: #f48c8f;
    font-weight: 400;
}

textarea {
    margin-top: 16px;
    width: 615px;
    height: 198px;
    background-color: #d6564f;
    border: none;
    border-radius: 5px; 
}

textarea::placeholder {
    padding-top: 8px;
    padding-left: 12px;
    font-family: "Lato-Regular";
    font-size: 12px;
    color: #f48c8f;
    font-weight: 400;
}