html,
body,
h1,
h2,
p {
     margin: 0;
    padding: 0;
}


@font-face {
    font-family: "Lato-Black";
    src: url("/assets/fonts/Lato-Black.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("/assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("/assets/fonts/Lato-Regular.ttf");
}



body {
    width: 1020px;
    padding: 0;
    margin: 0 auto;
}

.portfolio {
    height: 863px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolio .wrapper {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio h1 {
    padding-top: 59px;
    font-family: "Lato-Black";
    font-size: 30.5px;
    color: #666d89;
}

.portfolio p {
    padding-top: 21.5px;
    font-family: "Lato-Light";
    font-size: 18px;
    letter-spacing: -0.21px;
    color: #767e9e;
}
.portfolio__buttons {
    margin: 16px 0 0 1px;
}

.portfolio__buttons a {
    text-decoration: none;
    font-size: 12px;
    font-family: "Lato-Regular";
    color: #666d89;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 2.5px 6.2px;
    margin-right: 6px;
}

.portfolio__buttons a:hover {
    border: 1px solid #cccccc;
    color: #cccccc;
}

.works_previews {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    margin-left: -20px;
    
    
}

.work_preview {
    margin: 17px 0 0 20px;
}

.about_us {
    height: 728px;
    border-bottom: 6px solid #ffffff;
    background-color: #f2f2f2;
}

.about_us .wrapper {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.about_us h1 {
    padding-top: 59px;
    font-family: "Lato-Black";
    font-size: 30px;
    color: #666d89;
}

.about_us p {
    padding-top: 18px;
    font-family: "Lato-Light";
    font-size: 18px;
    color: #767e9e;
    letter-spacing: -0.05px;
    line-height: 30px;
}

.persons {
    padding-top: 45px; 
}

.persons__cards {
    display: flex;
    margin-left: -19px;
}

.person__card {
    margin-left: 19px;
}

.person__card h2 {
    padding-top: 10.5px;
    font-family: "Lato-Black";
    font-size: 19px;
    color: #666d89;
    letter-spacing: -0.65px;
}

.about_us .person__card p {
    padding-top: 8px;
    font-family: "Lato-Regular";
    text-align: justify;
    font-size: 12px;
    color: #767e9e;
    line-height: 21px;
    letter-spacing: -0.15px;
}

.social_links {
    padding-top: 23px;
    margin-left: -1px;
}
.social_links img {
    margin-left: 1px;
}
